<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Method:</strong>
  <%= @recipe.method %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe.category.try(:name) %>
</p>

<p>
  <strong>Ingredients</strong>
  <% @recipe.ingredients.each do |ingredient| %>
  <%= simple_format ingredient.name %> 
  <% end %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
