<nav>
  <ul>
    <li><%= link_to('Movies', movies_path) %></li>
    <li><%= link_to('New Movie', new_movie_path) %></li>
    <li><%= link_to('Viewings', viewings_path) %></li>
    <li><%= link_to('New Viewing', new_viewing_path) %></li>
    <li><%= link_to('Users', users_path) %></li>
    <li><%= link_to('New User', new_user_path) %></li>
  </ul>
</nav>